extends layout

block header
  link(rel='stylesheet' href='stylesheets/userDashboard_style.css')
  title My Dashboard

block content
  // overlay that dimms the screen
  .overlay(style='display:none;')
    // popup for add exercise
    #addExerciseContainer.popup(style='display:none;')
      button#exitButtonExercise(type='button') Close
      h3 Add Exercise
      form(action='http://localhost:3000/userDashboard#' method='post')
        label(for='exercise')
        //input#exercise(type='text' name='exercise' placeholder='Exercise Type' required='')

        //Reference for change event: https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/change_event
        p Select type of exercise: 
          select(name="exercises" id="exercises")
            option(value="") Select One ...
            option(value="Upper Body") Upper Body
            option(value="Lower Body") Lower Body
            option(value="Cardio") Cardio
          //- button#verifyExercise(type="button") submit  
          <div id="variations"></div>    
        //- label(for='time')
        //- input#time(type='text' name='time' placeholder='Time')
        //- br
        //- label(for='distance')
        //- input#distance(type='text' name='distance' placeholder='Distance')
        //- br
        input(type='submit' value='Add Exercise')

    // popup for add diet
    #addDietContainer.popup(style='display:none;')
      button#exitButtonDiet(type='button') Close
      h3 Add Diet
      form(action='http://localhost:3000/userDashboard#' method='post')
        //- label(for='foodType')
        //- input#foodType(type='text' name='foodType' placeholder='Food Type' required='')
        //- br
        //- label(for='calories')
        //- input#calories(type='text' name='calories' placeholder='Calories' required='')
        //- br
        //- label(for='mealType')
        //- input#mealType(type='text' name='mealType' placeholder='Meal Type' required='')
        br
        input(type='submit' value='Add Diet')
    // popup for add goal
    #addGoalContainer.popup(style='display:none;')
      button#exitButtonGoal(type='button') Close
      h3 Add Goal
      form(action='http://localhost:3000/userDashboard#' method='post')
        label(for='goal')
        input#goal(type='text' name='goal' placeholder='Goal' required='')
        br
        label(for='deadline')
        input#deadline(type='date' name='deadline' placeholder='Deadline' value ='' min='01-01-2023' max='31-12-2023')
        br
        input(type='submit' value='Add Goal')
  // date header to be changed to be interactable and changeable
  h2 
     input#date(type='date' name='deadline' placeholder='Deadline' value ='' min='01-01-2023' max='31-12-2023')
        
  .exerciseDietContainer
    .exercise
      h3 Exercise
      p Exercise - Distance/Time
      p Exercise - Distance/Time
      p Exercise - Distance/Time
      button#addExerciseButton(type='button') +
    // <div class="line"></div>
    .diet
      h3 Diet
      p Food - Calories - Meal Type
      p Food - Calories - Meal Type
      p Food - Calories - Meal Type
      button#addDietButton(type='button') +
  h2#goals Goals
  .goalContainer
    .personalGoals
      h3 Personal Goals
      p Personal goal info here
    //
      <div class="groupGoals">
      <h3>Group Goals</h3>
      <p>Group goal info here</p>
      Add group goal in group page instead of in userDashboard?
      </div>
    button#addGoalButton(type='button') +
  script.
    function addExercise() {
    overlay.style.display = "block";
    addExerciseContainer.style.display = "block";
    }
    function addDiet() {
    overlay.style.display = "block";
    addDietContainer.style.display = "block";
    }
    function addGoal() {
    overlay.style.display = "block";
    addGoalContainer.style.display = "block";
    }
    //gets the div's so we can hide/unhide them
    const overlay = document.querySelector('.overlay');
    const addExerciseContainer = document.querySelector('#addExerciseContainer');
    const addDietContainer = document.querySelector('#addDietContainer');
    const addGoalContainer = document.querySelector('#addGoalContainer');
    //links the buttons to the functions
    document.getElementById("addExerciseButton").addEventListener("click", addExercise)
    document.getElementById("addDietButton").addEventListener("click", addDiet)
    document.getElementById("addGoalButton").addEventListener("click", addGoal)
    //add a anonymas function to each exit button to hide the popup
    document.getElementById("exitButtonExercise").addEventListener("click", function () {
    overlay.style.display = "none";
    addExerciseContainer.style.display = "none";
    document.getElementById("variations").innerHTML = "";
    })
    document.getElementById("exitButtonDiet").addEventListener("click", function () {
    overlay.style.display = "none";
    addDietContainer.style.display = "none";
    })
    document.getElementById("exitButtonGoal").addEventListener("click", function () {
    overlay.style.display = "none";
    addGoalContainer.style.display = "none";
    })

    document.getElementById("exitButtonGoal").addEventListener("click", function () {
    overlay.style.display = "none";
    addGoalContainer.style.display = "none";
    })


    const exerciseSelect = document.getElementById("exercises");
    const variationsDiv = document.getElementById("variations");

    exerciseSelect.addEventListener("change", (event) =>
    {
      const selectedExercise = event.target.value;
      let data = "";

      switch(selectedExercise)
      {
        case "Upper Body":
          data = "<input type='text' id='exercise-name' name='exercise-name' placeholder='Exercise Name'><br><input type='text' id='time' name='time' placeholder='Time (Minutes)'><br><input type='text' id='reps' name='reps' placeholder='Reps'>";
          break;
        case "Lower Body":
          data = "<input type='text' id='exercise-name' name='exercise-name' placeholder='Exercise Name'><br><input type='text' id='time' name='time' placeholder='Time (Minutes)'><br><input type='text' id='reps' name='reps' placeholder='Reps'>";
          break;
        case "Cardio":
          data = "<input type='text' id='exercise-name' name='exercise-name' placeholder='Exercise Name'><br><input type='text' id='time' name='time' placeholder='Time (Minutes)'><br><input type='text' id='distance' name='distance' placeholder='Distance (Meters)'>";
          break;
        default:
          // clear the variations div if no exercise is selected
          variationsDiv.innerHTML = "";
          return;
      }

      // update the variations div with the selected exercise's data
      variationsDiv.innerHTML = data;
      
    }); 

    //- document.getElementById("verifyExercise").addEventListener("click", function () {
    //- exercise = document.getElementById("exercises");
    //- type = exercise.value;
  
    //- switch(type)
    //- {
    //-   case "Upper Body":
    //-     var data = "<input type='text' id='time' name='time' placeholder=Exercise Name'><br></input><input type='text' id='time' name='time' placeholder='Time(Minutes)'></input><br><input type='text' id='distance' name='distance' placeholder='Reps'>"
    //-     document.getElementById("variations").innerHTML = data;
    //-     break;
    //-   case "Lower Body":
    //-     var data = "<input type='text' id='time' name='time' placeholder=Exercise Name'><br></input><input type='text' id='time' name='time' placeholder='Time(Minutes)'></input><br><input type='text' id='distance' name='distance' placeholder='Reps'>"
    //-     document.getElementById("variations").innerHTML = data;
    //-     break;
    //-   case "Cardio":
    //-     var data = "<input type='text' id='time' name='time' placeholder=Exercise Name'><br></input><input type='text' id='time' name='time' placeholder='Time(Minutes)'></input><br><input type='text' id='distance' name='distance' placeholder='Distance(Meters)'>"
    //-     document.getElementById("variations").innerHTML = data;
    //-     break;
    //- }
    
    //- if(type == "Upper Body"){
    //-   var data = "<input type='text' id='time' name='time' placeholder=Exercise Name'><br></input><input type='text' id='time' name='time' placeholder='Time(Minutes)'></input><br><input type='text' id='distance' name='distance' placeholder='Reps'>"
    //-   document.getElementById("variations").innerHTML = data;
    //- }else if(type == "Lower Body"){
    //-   var data = "<input type='text' id='time' name='time' placeholder=Exercise Name'><br></input><input type='text' id='time' name='time' placeholder='Time(Minutes)'></input><br><input type='text' id='distance' name='distance' placeholder='Reps'>"
    //-   document.getElementById("variations").innerHTML = data;
    //- }else if(type == "Cardio"){
    //-   var data = "<input type='text' id='time' name='time' placeholder=Exercise Name'><br></input><input type='text' id='time' name='time' placeholder='Time(Minutes)'></input><br><input type='text' id='distance' name='distance' placeholder='Distance(Meters)'>"
    //-   document.getElementById("variations").innerHTML = data;
    //- }
    //})
